.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  white-space: nowrap;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.addCart {
  width: 76px;
  height: 21px;
  flex-shrink: 0;

  color: #000;

  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
